.DS_Store
Makefile
Makefile.in
*.Tpo
*.dirstamp
.deps/
*.log
*.o
*.a
/build-aux/
/doc/
/VERSION
/aclocal.m4
/autom4te.cache/
/config.h*
/config.status
/configure
/depcomp
/install-sh
/libtool
/missing
services/sleep/gen-cpp2
